
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"><html><head>
<link rel="shortcut icon" href="https://ssl.gstatic.com/docs/spreadsheets/forms/favicon_jfk2.png" type="image/x-icon">
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=10; chrome=1;">
<meta name="fragment" content="!">
<base target="_blank">
<title>&#49704;37 &#51060;&#48292;&#53944; &#52280;&#50668;&#51088; &#49444;&#47928;&#51312;&#49324; </title>
<link rel="stylesheet" type="text/css" href="">

<link href='/static/forms/client/css/107533221-formview_ltr.css' type='text/css' rel='stylesheet'>
<style type="text/css">

</style>


<link href='/static/forms/client/css/1446748018-mobile_formview_ltr.css' type='text/css' rel='stylesheet' media='screen and (max-device-width: 721px)'>
<script type="text/javascript">
        /**
 * @license
 *! H5F
 * https://github.com/ryanseddon/H5F/
 * Copyright (c) Ryan Seddon | Licensed MIT
 */

(function(e,t){"function"==typeof define&&define.amd?define(t):e.H5F=t()})(this,function(){var e,t,a,i,n,r,s,l,u,o,c,d,v,f,p,m,h,g,b,y,w,C,N,A,E,$,k=document,x=k.createElement("input"),q=/^[a-zA-Z0-9.!#$%&'*+-\/=?\^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/,M=/[a-z][\-\.+a-z]*:\/\//i,L=/^(input|select|textarea)$/i;return r=function(e,t){var a=!e.nodeType||!1,i={validClass:"valid",invalidClass:"error",requiredClass:"required",placeholderClass:"placeholder"};if("object"==typeof t)for(var r in i)t[r]===void 0&&(t[r]=i[r]);if(n=t||i,a)for(var l=0,u=e.length;u>l;l++)s(e[l]);else s(e)},s=function(a){var i,n=a.elements,r=n.length,s=!!a.attributes.novalidate;if(b(a,"invalid",u,!0),b(a,"blur",u,!0),b(a,"input",u,!0),b(a,"keyup",u,!0),b(a,"focus",u,!0),b(a,"change",u,!0),b(a,"click",o,!0),b(a,"submit",function(i){e=!0,t||s||a.checkValidity()||w(i)},!1),!v())for(a.checkValidity=function(){return c(a)};r--;)i=!!n[r].attributes.required,"fieldset"!==n[r].nodeName.toLowerCase()&&l(n[r])},l=function(e){var t=e,a=g(t),n={type:t.getAttribute("type"),pattern:t.getAttribute("pattern"),placeholder:t.getAttribute("placeholder")},r=/^(email|url)$/i,s=/^(input|keyup)$/i,l=r.test(n.type)?n.type:n.pattern?n.pattern:!1,u=f(t,l),o=m(t,"step"),v=m(t,"min"),h=m(t,"max"),b=!(""===t.validationMessage||void 0===t.validationMessage);t.checkValidity=function(){return c.call(this,t)},t.setCustomValidity=function(e){d.call(t,e)},t.validity={valueMissing:a,patternMismatch:u,rangeUnderflow:v,rangeOverflow:h,stepMismatch:o,customError:b,valid:!(a||u||o||v||h||b)},n.placeholder&&!s.test(i)&&p(t)},u=function(e){var t=C(e)||e,a=/^(input|keyup|focusin|focus|change)$/i,r=/^(submit|image|button|reset)$/i,s=/^(checkbox|radio)$/i,o=!0;!L.test(t.nodeName)||r.test(t.type)||r.test(t.nodeName)||(i=e.type,v()||l(t),t.validity.valid&&(""!==t.value||s.test(t.type))||t.value!==t.getAttribute("placeholder")&&t.validity.valid?(A(t,[n.invalidClass,n.requiredClass]),N(t,n.validClass)):a.test(i)?t.validity.valueMissing&&A(t,[n.requiredClass,n.invalidClass,n.validClass]):t.validity.valueMissing?(A(t,[n.invalidClass,n.validClass]),N(t,n.requiredClass)):t.validity.valid||(A(t,[n.validClass,n.requiredClass]),N(t,n.invalidClass)),"input"===i&&o&&(y(t.form,"keyup",u,!0),o=!1))},c=function(t){var a,i,n,r,s=!1;if("form"===t.nodeName.toLowerCase()){a=t.elements;for(var l=0,o=a.length;o>l;l++)i=a[l],n=!!i.attributes.required,r=!!i.attributes.pattern,"fieldset"!==i.nodeName.toLowerCase()&&(n||r&&n)&&(u(i),i.validity.valid||s||(e&&i.focus(),s=!0));return!s}return u(t),t.validity.valid},d=function(e){var t=this;t.validationMessage=e},o=function(e){var a=C(e);a.attributes.formnovalidate&&"submit"===a.type&&(t=!0)},v=function(){return E(x,"validity")&&E(x,"checkValidity")},f=function(e,t){if("email"===t)return!q.test(e.value);if("url"===t)return!M.test(e.value);if(t){var i=e.getAttribute("placeholder"),n=e.value;return a=RegExp("^(?:"+t+")$"),n===i?!1:""===n?!1:!a.test(e.value)}return!1},p=function(e){var t={placeholder:e.getAttribute("placeholder")},a=/^(focus|focusin|submit)$/i,r=/^(input|textarea)$/i,s=/^password$/i,l=!!("placeholder"in x);l||!r.test(e.nodeName)||s.test(e.type)||(""!==e.value||a.test(i)?e.value===t.placeholder&&a.test(i)&&(e.value="",A(e,n.placeholderClass)):(e.value=t.placeholder,b(e.form,"submit",function(){i="submit",p(e)},!0),N(e,n.placeholderClass)))},m=function(e,t){var a=parseInt(e.getAttribute("min"),10)||0,i=parseInt(e.getAttribute("max"),10)||!1,n=parseInt(e.getAttribute("step"),10)||1,r=parseInt(e.value,10),s=(r-a)%n;return g(e)||isNaN(r)?"number"===e.getAttribute("type")?!0:!1:"step"===t?e.getAttribute("step")?0!==s:!1:"min"===t?e.getAttribute("min")?a>r:!1:"max"===t?e.getAttribute("max")?r>i:!1:void 0},h=function(e){var t=!!e.attributes.required;return t?g(e):!1},g=function(e){var t=e.getAttribute("placeholder"),a=/^(checkbox|radio)$/i,i=!!e.attributes.required;return!(!i||""!==e.value&&e.value!==t&&(!a.test(e.type)||$(e)))},b=function(e,t,a,i){E(window,"addEventListener")?e.addEventListener(t,a,i):E(window,"attachEvent")&&window.event!==void 0&&("blur"===t?t="focusout":"focus"===t&&(t="focusin"),e.attachEvent("on"+t,a))},y=function(e,t,a,i){E(window,"removeEventListener")?e.removeEventListener(t,a,i):E(window,"detachEvent")&&window.event!==void 0&&e.detachEvent("on"+t,a)},w=function(e){e=e||window.event,e.stopPropagation&&e.preventDefault?(e.stopPropagation(),e.preventDefault()):(e.cancelBubble=!0,e.returnValue=!1)},C=function(e){return e=e||window.event,e.target||e.srcElement},N=function(e,t){var a;e.className?(a=RegExp("(^|\\s)"+t+"(\\s|$)"),a.test(e.className)||(e.className+=" "+t)):e.className=t},A=function(e,t){var a,i,n="object"==typeof t?t.length:1,r=n;if(e.className)if(e.className===t)e.className="";else for(;n--;)a=RegExp("(^|\\s)"+(r>1?t[n]:t)+"(\\s|$)"),i=e.className.match(a),i&&3===i.length&&(e.className=e.className.replace(a,i[1]&&i[2]?" ":""))},E=function(e,t){var a=typeof e[t],i=RegExp("^function|object$","i");return!!(i.test(a)&&e[t]||"unknown"===a)},$=function(e){for(var t=document.getElementsByName(e.name),a=0;t.length>a;a++)if(t[a].checked)return!0;return!1},{setup:r}});

      </script>
<link rel="alternate" type="text/xml+oembed" href="https://docs.google.com/forms/d/17vdYvAP14xyOohZkMPvAtly2qTCYjL6tcyeIGRVyBxw/oembed?url=https://docs.google.com/forms/d/17vdYvAP14xyOohZkMPvAtly2qTCYjL6tcyeIGRVyBxw/viewform?c%3D0%26w%3D1&amp;format=xml">
<meta name="viewport" content="width=device-width">
<meta property="og:title" content="숨37 이벤트 참여자 설문조사 "><meta property="og:type" content="article"><meta property="og:site_name" content="Google Docs"><meta property="og:url" content="https://docs.google.com/forms/d/17vdYvAP14xyOohZkMPvAtly2qTCYjL6tcyeIGRVyBxw/viewform?c=0&amp;w=1"><meta property="og:image" content="https://ssl.gstatic.com/docs/forms/social/social-forms.png"><meta property="og:image:width" content="90"><meta property="og:image:height" content="90"><meta property="og:description" content="숨 skin birthday에 참여해주셔서 감사합니다
설문에 답해주신 00분께 추첨을 통해 선물을 드립니다. 
">
</head>
<body dir="ltr" class="ss-base-body"><div itemscope itemtype="http://schema.org/CreativeWork/FormObject"><meta itemprop="name" content="&#49704;37 &#51060;&#48292;&#53944; &#52280;&#50668;&#51088; &#49444;&#47928;&#51312;&#49324; ">
<meta itemprop="description" content="&#49704; skin birthday&#50640; &#52280;&#50668;&#54644;&#51452;&#49492;&#49436; &#44048;&#49324;&#54633;&#45768;&#45796;
&#49444;&#47928;&#50640; &#45813;&#54644;&#51452;&#49888; 00&#48516;&#44760; &#52628;&#52392;&#51012; &#53685;&#54644; &#49440;&#47932;&#51012; &#46300;&#47549;&#45768;&#45796;. 
">

<meta itemprop="url" content="https://docs.google.com/forms/d/17vdYvAP14xyOohZkMPvAtly2qTCYjL6tcyeIGRVyBxw/viewform?c=0&amp;w=1">
<meta itemprop="embedUrl" content="https://docs.google.com/forms/d/17vdYvAP14xyOohZkMPvAtly2qTCYjL6tcyeIGRVyBxw/viewform?c=0&amp;w=1&amp;embedded=true">
<meta itemprop="faviconUrl" content="https://ssl.gstatic.com/docs/spreadsheets/forms/favicon_jfk2.png">





<div class="ss-form-container"><div class="ss-header-image"></div>
<div class="ss-top-of-page"><div class="ss-form-heading"><h1 class="ss-form-title" dir="ltr">&#49704;37 &#51060;&#48292;&#53944; &#52280;&#50668;&#51088; &#49444;&#47928;&#51312;&#49324; </h1>
<div class="ss-form-desc ss-no-ignore-whitespace">숨 skin birthday에 참여해주셔서 감사합니다<br>설문에 답해주신 00분께 추첨을 통해 선물을 드립니다. <br></div>

</div></div>
<div class="ss-form"><form action="https://docs.google.com/forms/d/17vdYvAP14xyOohZkMPvAtly2qTCYjL6tcyeIGRVyBxw/formResponse" method="POST" id="ss-form" target="_self" onsubmit=""><ol role="list" class="ss-question-list" style="padding-left: 0">
    
  
<div class="ss-form-question errorbox-good" role="listitem" style="display:none">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_666921143"><div class="ss-q-title">성함을 남겨주세요
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.666921143" value="<%= @user.name unless @user.nil? %>" class="ss-q-short" id="entry_666921143" dir="auto" aria-label="성함을 남겨주세요  " title="">
<div class="error-message" id="1637705914_errorMessage"></div>
<div class="required-message">필수 질문입니다.</div>
</div></div></div>

 <div class="ss-form-question errorbox-good" role="listitem" style="display:none">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_507443987"><div class="ss-q-title">선물 받으실때 연락받을 핸드폰 번호는?
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.507443987" value="<%= @user.phone unless @user.nil? %>" class="ss-q-short" id="entry_507443987" dir="auto" aria-label="선물 받은실때 연락받을 핸드폰 번호는?  " title="">
<div class="error-message" id="1495757128_errorMessage"></div>
<div class="required-message">필수 질문입니다.</div>
</div></div></div>

 <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-radio"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_434341135"><div class="ss-q-title">1.  skin birthday 이벤트 어떻게 참여하셨나요?
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices" role="radiogroup" aria-label="1.  skin birthday 이벤트 어떻게 참여하셨나요?  "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.148019219" value="&#54168;&#51060;&#49828;&#48513;&nbsp;" id="group_148019219_1" role="radio" class="ss-q-radio" aria-label="&#54168;&#51060;&#49828;&#48513;&nbsp;"></span>
<span class="ss-choice-label">페이스북 </span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.148019219" value="&#52852;&#52852;&#50724;&#49828;&#53664;&#47532;&nbsp;" id="group_148019219_2" role="radio" class="ss-q-radio" aria-label="&#52852;&#52852;&#50724;&#49828;&#53664;&#47532;&nbsp;"></span>
<span class="ss-choice-label">카카오스토리 </span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.148019219" value="&#48708;&#53944;&#50952;" id="group_148019219_3" role="radio" class="ss-q-radio" aria-label="&#48708;&#53944;&#50952;"></span>
<span class="ss-choice-label">비트윈</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.148019219" value="&#48660;&#47196;&#44536;" id="group_148019219_4" role="radio" class="ss-q-radio" aria-label="&#48660;&#47196;&#44536;"></span>
<span class="ss-choice-label">블로그</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.148019219" value="&#47928;&#51088;" id="group_148019219_5" role="radio" class="ss-q-radio" aria-label="&#47928;&#51088;"></span>
<span class="ss-choice-label">문자</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.148019219" value="&#52852;&#52852;&#50724;&#53665;" id="group_148019219_6" role="radio" class="ss-q-radio" aria-label="&#52852;&#52852;&#50724;&#53665;"></span>
<span class="ss-choice-label">카카오톡</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.148019219" value="&#44592;&#53440;" id="group_148019219_7" role="radio" class="ss-q-radio" aria-label="&#44592;&#53440;"></span>
<span class="ss-choice-label">기타</span>
</label></li></ul>
<div class="error-message" id="434341135_errorMessage"></div>
<div class="required-message">필수 질문입니다.</div></div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-radio"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1210559163"><div class="ss-q-title">2.  쿠폰 발급 후 &#39;숨37&#39;을 구매하지 않은 이유가 있다면 무엇일까요?
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices" role="radiogroup" aria-label="2.  쿠폰 발급 후 &#39;숨37&#39;을 구매하지 않은 이유가 있다면 무엇일까요?  "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1718016015" value="&#50892;&#53552;&#54400; &#53440;&#51076;&#47532;&#49828; &#50892;&#53552;-&#51236; &#53356;&#47548;&#51060; &#55141;&#48120;&#47484; &#45132;&#51648; &#50506;&#45716;&#45796;." id="group_1718016015_1" role="radio" class="ss-q-radio" aria-label="&#50892;&#53552;&#54400; &#53440;&#51076;&#47532;&#49828; &#50892;&#53552;-&#51236; &#53356;&#47548;&#51060; &#55141;&#48120;&#47484; &#45132;&#51648; &#50506;&#45716;&#45796;."></span>
<span class="ss-choice-label">워터풀 타임리스 워터-젤 크림이 흥미를 끌지 않는다.</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1718016015" value="&#51452;&#48320;&#50640; &#49704;37 &#47588;&#51109;&#51060; &#50612;&#46356;&#51080;&#45716;&#51648; &#47784;&#47476;&#44192;&#45796;." id="group_1718016015_2" role="radio" class="ss-q-radio" aria-label="&#51452;&#48320;&#50640; &#49704;37 &#47588;&#51109;&#51060; &#50612;&#46356;&#51080;&#45716;&#51648; &#47784;&#47476;&#44192;&#45796;."></span>
<span class="ss-choice-label">주변에 숨37 매장이 어디있는지 모르겠다.</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1718016015" value="&#51228;&#54408; &#44396;&#47588;&#54616;&#47084; &#44040; &#49884;&#44036;&#51060; &#45208;&#51648; &#50506;&#45716;&#45796;." id="group_1718016015_3" role="radio" class="ss-q-radio" aria-label="&#51228;&#54408; &#44396;&#47588;&#54616;&#47084; &#44040; &#49884;&#44036;&#51060; &#45208;&#51648; &#50506;&#45716;&#45796;."></span>
<span class="ss-choice-label">제품 구매하러 갈 시간이 나지 않는다.</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1718016015" value="&#51060;&#48292;&#53944;&#50640; &#52280;&#50668;&#54664;&#45716;&#51648; &#51082;&#44256; &#51080;&#50632;&#45796;." id="group_1718016015_4" role="radio" class="ss-q-radio" aria-label="&#51060;&#48292;&#53944;&#50640; &#52280;&#50668;&#54664;&#45716;&#51648; &#51082;&#44256; &#51080;&#50632;&#45796;."></span>
<span class="ss-choice-label">이벤트에 참여했는지 잊고 있었다.</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1718016015" value="&#50728;&#46972;&#51064;&#50640;&#49436; &#44396;&#51077;&#54616;&#44256; &#49910;&#51008;&#45936; &#50728;&#46972;&#51064; &#47588;&#51109;&#50640;&#49436;&#45716; &#54812;&#53469; &#50630;&#45796;.&nbsp;" id="group_1718016015_5" role="radio" class="ss-q-radio" aria-label="&#50728;&#46972;&#51064;&#50640;&#49436; &#44396;&#51077;&#54616;&#44256; &#49910;&#51008;&#45936; &#50728;&#46972;&#51064; &#47588;&#51109;&#50640;&#49436;&#45716; &#54812;&#53469; &#50630;&#45796;.&nbsp;"></span>
<span class="ss-choice-label">온라인에서 구입하고 싶은데 온라인 매장에서는 혜택 없다. </span>
</label></li></ul>
<div class="error-message" id="1210559163_errorMessage"></div>
<div class="required-message">필수 질문입니다.</div></div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-radio"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1545973339"><div class="ss-q-title">3. 향후 숨37에서 skin birthday 행사를 다시 한 번 진행한다면 쿠폰을 발급받아 제품을 구매하실 의사가 있나요?
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices" role="radiogroup" aria-label="3. 향후 숨37에서 skin birthday 행사를 다시 한 번 진행한다면 쿠폰을 발급받아 제품을 구매하실 의사가 있나요?  "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1651336128" value="&#51080;&#45796;." id="group_1651336128_1" role="radio" class="ss-q-radio" aria-label="&#51080;&#45796;."></span>
<span class="ss-choice-label">있다.</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1651336128" value="&#50630;&#45796;." id="group_1651336128_2" role="radio" class="ss-q-radio" aria-label="&#50630;&#45796;."></span>
<span class="ss-choice-label">없다.</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1651336128" value="&#49345;&#54408;&#50640; &#45796;&#47476;&#45796;." id="group_1651336128_3" role="radio" class="ss-q-radio" aria-label="&#49345;&#54408;&#50640; &#45796;&#47476;&#45796;."></span>
<span class="ss-choice-label">상품에 다르다.</span>
</label></li></ul>
<div class="error-message" id="1545973339_errorMessage"></div>
<div class="required-message">필수 질문입니다.</div></div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-radio"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1015863833"><div class="ss-q-title">4. 향후 숨37에서 이벤트할때 받고 싶은 선물은?  
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices" role="radiogroup" aria-label="4. 향후 숨37에서 이벤트할때 받고 싶은 선물은?    "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1964957320" value="&#49704;37 &#49884;&#53356;&#47551; &#54532;&#47196;&#44536;&#47000;&#48141; &#50640;&#49468;&#49828;" id="group_1964957320_1" role="radio" class="ss-q-radio" aria-label="&#49704;37 &#49884;&#53356;&#47551; &#54532;&#47196;&#44536;&#47000;&#48141; &#50640;&#49468;&#49828;"></span>
<span class="ss-choice-label">숨37 시크릿 프로그래밍 에센스</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1964957320" value="&#49704;37 &#49884;&#53356;&#47551; &#47532;&#54168;&#50612; &#52968;&#49468;&#53944;&#47112;&#51060;&#53944;" id="group_1964957320_2" role="radio" class="ss-q-radio" aria-label="&#49704;37 &#49884;&#53356;&#47551; &#47532;&#54168;&#50612; &#52968;&#49468;&#53944;&#47112;&#51060;&#53944;"></span>
<span class="ss-choice-label">숨37 시크릿 리페어 컨센트레이트</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1964957320" value="&#54868;&#51060;&#53944; &#50612;&#50892;&#46300; &#48260;&#48660; &#46356; &#47560;&#49828;&#53356;" id="group_1964957320_3" role="radio" class="ss-q-radio" aria-label="&#54868;&#51060;&#53944; &#50612;&#50892;&#46300; &#48260;&#48660; &#46356; &#47560;&#49828;&#53356;"></span>
<span class="ss-choice-label">화이트 어워드 버블 디 마스크</span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.1964957320" value="&#50892;&#53552;-&#54540; &nbsp;&#53440;&#51076;&#47532;&#49828; &#50892;&#53552; &#51236;&#53356;&#47548;" id="group_1964957320_4" role="radio" class="ss-q-radio" aria-label="&#50892;&#53552;-&#54540; &nbsp;&#53440;&#51076;&#47532;&#49828; &#50892;&#53552; &#51236;&#53356;&#47548;"></span>
<span class="ss-choice-label">워터-플  타임리스 워터 젤크림</span>
</label></li></ul>
<div class="error-message" id="1015863833_errorMessage"></div>
<div class="required-message">필수 질문입니다.</div></div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-radio"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1383430594"><div class="ss-q-title">5. 좋아하는 이벤트 방식이 있다면?
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>

<ul class="ss-choices" role="radiogroup" aria-label="5. 좋아하는 이벤트 방식이 있다면?  "><li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.943822753" value="&#47924;&#50631;&#51060;&#45912; &#44396;&#51077;&#54616;&#47732; &#46608;&#45796;&#47480; &#51221;&#54408;&#51012; &#51452;&#45716; &#44163;.&nbsp;" id="group_943822753_1" role="radio" class="ss-q-radio" aria-label="&#47924;&#50631;&#51060;&#45912; &#44396;&#51077;&#54616;&#47732; &#46608;&#45796;&#47480; &#51221;&#54408;&#51012; &#51452;&#45716; &#44163;.&nbsp;"></span>
<span class="ss-choice-label">무엇이던 구입하면 또다른 정품을 주는 것. </span>
</label></li> <li class="ss-choice-item"><label><span class="ss-choice-item-control goog-inline-block"><input type="radio" name="entry.943822753" value="&#47588;&#51109;&#50640; &nbsp;&#44052;&#51012;&#46412; &#53945;&#48324;&#54620; &#49368;&#54540;&#51012; &#44536;&#45285; &#51452;&#45716; &#44163;.&nbsp;" id="group_943822753_2" role="radio" class="ss-q-radio" aria-label="&#47588;&#51109;&#50640; &nbsp;&#44052;&#51012;&#46412; &#53945;&#48324;&#54620; &#49368;&#54540;&#51012; &#44536;&#45285; &#51452;&#45716; &#44163;.&nbsp;"></span>
<span class="ss-choice-label">매장에  갔을때 특별한 샘플을 그냥 주는 것. </span>
</label></li></ul>
<div class="error-message" id="1383430594_errorMessage"></div>
<div class="required-message">필수 질문입니다.</div></div></div></div>
<input type="hidden" name="draftResponse" value="[,,&quot;4290783848421645058&quot;]
">
<input type="hidden" name="pageHistory" value="0">


<input type="hidden" name="fbzx" value="4290783848421645058">

<div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
<input type="submit" name="submit" value="&#48372;&#45236;&#44592;" id="ss-submit">
<div class="ss-password-warning ss-secondary-text">Google 설문지를 통해 비밀번호를 제출하지 마세요.</div></td>
</tr></tbody></table></div></ol></form></div>
<div class="ss-footer"><div class="ss-attribution"></div>
<div class="ss-legal"><div class="disclaimer-separator"></div>
<div class="disclaimer" dir="ltr"><div class="powered-by-logo"><span class="powered-by-text">제공</span>
<div class="ss-logo-container"><div class="ss-logo-image"></div>
<span class="aria-only-help">Google 설문지</span></div></div>
<div class="ss-terms"><span class="disclaimer-msg">이 콘텐츠는 Google이 만들거나 승인하지 않았습니다.</span>
<br>
<a href="https://docs.google.com/forms/d/17vdYvAP14xyOohZkMPvAtly2qTCYjL6tcyeIGRVyBxw/reportabuse?source=https://docs.google.com/forms/d/17vdYvAP14xyOohZkMPvAtly2qTCYjL6tcyeIGRVyBxw/viewform?c%3D0%26w%3D1">악용사례 신고</a>
-
<a href="http://www.google.com/accounts/TOS">서비스 약관</a>
-
<a href="http://www.google.com/google-d-s/terms.html">추가약관</a></div></div></div></div>

<div id="docs-aria-speakable" class="docs-a11y-ariascreenreader-speakable docs-offscreen" aria-live="assertive" role="region" aria-atomic></div></div>


<script type='text/javascript' src='/static/forms/client/js/96063040-formviewer_prd__ko.js'></script>
<script type="text/javascript">H5F.setup(document.getElementById('ss-form'));
          _initFormViewer(
            "[100,\x22#CCC\x22,[]\n]\n");</script></div></body></html>